.level-planet{
    position: relative;
    width: 100%;
    height: 100%;

}

.planet{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name-planet{
    font-size: 20px;
    color: #ECE5E5;
    font-weight: 600;
    margin: 5px 0 8px;
}

.planet-icon{
    width: 180px;
    border-radius: 50%;
}

.html-planet{
    top: 14%;
    left: 10%;
}

.css-planet{
    top: 35%;
    left: 30%;
}

.javascript-planet{
    top: 58%;
    left: 49%;
    
}

.earth-planet{
    top: 80%;
    left: 82%;
}

.levels-astro{
    position: absolute;
    top: 18%;
    left: 15%;
    width: 130px;
}

.levels-cb{
    position: absolute;
    left: 14%;
    bottom: 28%;
}

.levels-rocket{
    position: absolute;
    left: 8%;
    bottom: 10%;
}