.login-page{
    min-height: calc(100vh - 72px);
  display: grid;
  place-items: start center;
  padding: 24px 16px;
}

.login-card{
    width: 400px;
    height: 500px;
    background-color: #c3ebffcc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    left: 40%;
    position: fixed;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
   
}

.login-form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.login-form span{
    align-self: flex-start;
    font-size: 25px;
    color: rgb(99, 35, 250);
    display: block;
    align-items: left;

}

.btn-login{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
  
}


.btn-reset-password {
    color: blue;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}