.reset-password-card{
    width: 400px;
    height: 500px;
    background-color: #c3ebffcc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    left: 40%;
    position: absolute;
}

.reset-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.reset-password-form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.reset-password-form span{
    align-self: flex-start;
    font-size: 25px;
    color: rgb(99, 35, 250);
    display: block;
    align-items: left;

}

.btn-reset{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

